{{!--Intro Header--}}
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div id="mobile" class="col-md-12">
					<div>
						<img src="/images/icon.png" width="200" hegith="200">
						<h1 class="brand-heading">Terra Mango</h1>
						<h2>A Location-Based Strategy Game</h2>

						<div id="amaDescription" class="row">
							<h3 class="redditLink">Our big Reddit post starts at 9:00AM EDT<br> at <a href="https://reddit.com/r/gaming/">/r/Gaming</a></h3>
						</div>
						<div class="row">
							<h3 id="countdown"></h3>
						</div>

						<div class="row">
							<iframe class="youtube-video" src="https://www.youtube.com/watch?v=OHHqCrPx0WM" frameborder="0" allowfullscreen></iframe>
						</div>

						<div id="about" class="col-lg-7 offset">
							<hr/>
							<h2>About Terra Mango</h2>
							<div class="about-container">
								<div class="description">Will you defend your race from the intrusion of your enemies as a Human? Will you exact revenge on your creators as the IO? Or will you conquer the blue marble for the honor of the Aurayu? Collect resources, conquer enemy territory, and build towers to ensure victory for your race. Be the first to claim your neighborhood, town, and city!</div>
								<div style="font-weight:bold">FEATURES</div>
								<ul>
									<li>Choose your race. Are you a Human, an IO, or an Aurayu?</li>
									<li>Build combat, research, and resource towers to claim real world territory for your race and to grow your empire.</li>
									<li>Deploy troops in the real world to destroy and conquer enemy territory.</li>
									<li>Collect gold, ore, energy, and IPG in the real world.</li>
									<li>Did we mention it’s in the real world?</li>
									<li>Team up with other players to defeat your enemies together.</li>
									<li>Earn XP and level up to expand available tower and troop types.</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<img src="/images/characters.jpg" class="character-banner">
						</div>
						<div class="col-md-12">
							<p class="developedBy form-fonts">Developed by </p><a href="https://breadboard.ai"><img class="imgPadding" src="/images/bb-logo-1x.png" srcset="/images/bb-logo-1x.png 1x, /images/bb-logo-2x.png 2x" width="304px" height="64px"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="font-family:sans-serif">
				<i class="fa fa-phone footer-icon"></i><a href="tel:+12543133762">(254) 313-3762</a><br>
				<i class="fa fa-envelope footer-icon"></i><a href="mailto:contact@terramango.com">contact@terramango.com</a><br>
				<i class="fa fa-copyright footer-icon"></i>Terra Mango, LLC 2017<br>
			</div>
		</div>
	</div>
</header>
<script type="text/javascript">
	function pad(num, size){ return ('000000000' + num).substr(-size); }
	let launchTime = 1498914060000;

	let reachedLaunch = false;
	window.setInterval(function() {
		let currentTime = new Date().getTime();
		let deltaTime = launchTime - currentTime;
		if(deltaTime <= 0 && !reachedLaunch) {
			reachedLaunch = true;
			$("#countdown").hide();
			$(".redditLink").remove();
			$("#amaDescription").append("<h3>Our big Reddit post has started <br>Check it out on Reddit at <a href=\"/NotAnAMA\">/r/Gaming</a></h3>");
		}
		else {
			let deltaHours = Math.floor(deltaTime / 1000 / 60 / 60);
			let deltaMinutes = Math.floor((deltaTime - deltaHours * 3600 * 1000) / 1000 / 60);
			let deltaSeconds = Math.floor((deltaTime - deltaHours * 3600 * 1000 - deltaMinutes * 60 * 1000) / 1000);

			$("#countdown").text(pad(deltaHours, 2) + " Hours, " + pad(deltaMinutes, 2) + " Minutes, " + pad(deltaSeconds, 2) + " Seconds Until the Post Starts!");
		}
	}, 1000);
</script>