{{!--Intro Header--}}
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div id="mobile" class="col-md-12">
					<div>
                        <a href="/"><img src="../images/icon.png" width="200" hegith="200" alt="Terra Mango Bird Logo"></a>
						<h1 class="brand-heading">Terra Mango</h1>
						<h2>A Location Based Strategy Game</h2>
						<div class="intro-text1 form-fonts">
							{{{referrals}}}
						</div>
                        
                        <h4 class="form-fonts">Keep sharing! Here's your unique referral link: <a href="/R{{ref}}" style="text-transform:none">terramango.com/R{{ref}}</a>.</h4>

                        <div id="about" class="col-lg-7 offset">
							<hr/>
                        </div>
						<div class="col-md-12">
							<p class="developedBy form-fonts">Developed by </p><a href="https://breadboard.ai"><img class="imgPadding" src="../images/bb-logo-1x.png" srcset="../images/bb-logo-1x.png 1x, ../images/bb-logo-2x.png 2x" width="304px" height="64px"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>